@charset "UTF-8";

html,
body {
	height: 100%;
}

header {
	height: 100px;
	background-color: #FFD700;
}

footer {
	height: 50px;
	background-color: #FFD700;
}

table {
	border-collapse: collapse;
}

th,
td {
	padding: 3px;
	border: solid 1px black;
}

.main {
	min-height: 537px;
}

.error {
	color: #FF0000;
}